[Desktop Entry]
Name=RustDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/sodesk;
TryExec=sodesk
Exec=sodesk --connect "%u"
Icon=sodesk
Terminal=false
Type=Application
StartupNotify=false
Version=1.5
